body {
  font-size: 15px;
  color: blue;
  background-color: white;
  font-family:  sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  border-color: blue;
  

}



.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Comic , serif;
  color: blue;
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 10;
  
}

#nav-list {
  margin-top: 10px;
  background-color: #D3D3D3 ;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* END HEADER */
h2{
  text-align: center;
  margin-bottom: 20px;
  
}
p {
  font-family:  cursive, Arial, Helvetica, sans-serif;
  height: 200%;
  margin: 10px;
  color: black;
  padding: 15px;
  
}

#h11{
    
    
  top:10;
  
  font-family:   Arial, sans-serif;
  
  height: 10%;
  text-align: center;
   
  font-weight: bold;
}

#h22{
    
    float: center;
  top:10;
  
  font-family:   Arial;
 
  height: 10%;
  text-align: center;
  
  font-weight: bold;
}

#h33{
    
   
  
  
  font-family:   Arial, sans-serif;
  
  height: 10%;
  text-align: center;
  
  font-weight: bold;
}

 
  

 
.col-xs-12 {
  background: gray;
  border: 1px solid black;
    float: left;
    margin-top: 15px;
  }

